.card {
    border-radius: 50px;
    border-color: #991699;
    margin: 20px;
    padding: 10px;
    display: flex;
    .card-img-top-nosotros {
        @include sizes(230px, 5px, 15px);
    }
    .card-title {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: $font-medium;
    }
    .card-text {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: $font-small;
    }
    .btn {
        display: flex;  
        justify-content: center;
        font-weight: bold;
    }
}