
* {
    font-family: "Lato", sans-serif;
}

#header-one {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.header-two {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}
