.accordion {
    .accordion-item {
        padding: map-get($spacings , large )
    }
    .accordion-header {
        .accordion-button {
            color: rgb(153, 22, 153);
            font-size: $font-small;
            font-weight: bold;
        }
    }
}

.map-container {
    position: relative;
    overflow: hidden;
    display: flex;
    }
    .map-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

